.productdescription {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 75%;
    height: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none; 
    border-radius: 10px;
  }

.contactusform{
  background-image: url("../IMAGES/BrandColor/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 50%;
    height: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none; 
    border-radius: 15px;
}

.sellyourcar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 75%;
  height: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none; 
  border-radius: 10px;
}